@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in {
    animation: fadeInScale 1s ease-in-out;
}